@media(max-width:1325px){
    .select-sobre .principal, .select-sobre .a-projetos, .select-projetos .principal, .select-projetos .a-sobre{
        background-color: #474747;
    }
    .select-projetos .container-sobre, .select-projetos .container-formacao, .select-sobre main, .select-projetos main{
        display: none;
    }
    .select-sobre .container-sobre{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        column-gap: 0px;
        padding: 30px 0px;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .select-sobre  .container-text-sobre p{
        width: 92vw;
        font-size: 13px;
    }
    .select-sobre .container-flex-around{
        justify-content: center;
    }
    .select-sobre .container-formacao{
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
        height: 100%;
        width: 100vw;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 14px;
        display: flex;
    }
    .select-sobre .cursos{
        border-left: none;
        border-top: 2px solid #312F34;
        padding: 20px 40px;
    }
    .select-sobre .container-img-sobre figure{
        max-width: 300px;
    }
    .select-sobre .menu ul .a-sobre, .select-projetos .a-projetos{
        background-color: #111018;
    }
    .select-projetos .container-projetos{
        display:flex;
        width: 100%;
        border-color:#111018;
        row-gap: 30px;
        padding: 20px;
        height: 100vh;
    }
    
    .select-projetos .container-links .container-play .play {
        padding: 3px 20px;
        height: 30px;
        font-size: 15px;
    }
    .select-projetos .container-desc-links h3{
        font-size: 15px;
    }
    .select-projetos .repo-github {
        height: 30px;
        padding: 3px 5px;
        font-size: 16px;
    }
    .select-projetos .container-desc-links {
        height: 40%;
        padding: 10px;
        
    }
    .select-projetos .tecnologias ul {
        font-size: 12px;
    }
    .select-projetos .desc p {
        font-size: 12px;
    }
    .select-principal .container-sobre, .select-principal .container-projetos, .select-principal .container-formacao{
        display: none !important;
    }

    .select-projetos .container-projeto{
        height: 100%;
    }
}


@media(max-width: 670px){
    .container-grid{
        padding: 0;
    }
    

    .select-projetos .container-desc-links {
        height: 100%;
        border-radius: 2px;
        padding: 10px;
        transform: translateY(500px);
    }
    .select-projetos .container-links .container-play{
        margin-left: 0;
    }

    .arrow-left, .arrow-right{
        font-size: 18px;
    }
    .container-links{
        height: 100%;
        align-items: flex-end;
    }
    
    
}

@media(max-width: 360px){
    .select-projetos .container-desc-links .nome-projeto{
        font-size: 12px;
    }
    .select-projetos .container-links .container-play .play {
        padding: 2px 10px;
        height: 20px;
        font-size: 10px;
    }
    .select-projetos .repo-github {
        height: 20px;
        padding: 2px 3px;
        font-size: 10px;
    }
    .container-links{
        padding: 10px;
    }
    .hover {
        width: 16px;
    }
    .tecnologias {
        height: 20px;
    }
    .select-projetos .desc p {
        font-size: 10px;
        overflow-y: scroll;
        height:50px;
    }
    .select-projetos .container-desc-links {
        padding: 0px;
    }

    #pessoais, #desafios{
        font-size: 13px;
    }
    
}