@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Playfair+Display:ital,wght@0,500;1,400&family=Righteous&display=swap');
.section-sobre{
    background-color: #111018;
    height: 810px;
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
    margin:0px 20px 0px 20px;
    border-radius: 10px 110px 10px 110px;
    
}
.container-grid-sobre{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 90%;
    margin: auto;
}
.container-sobre{
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "s s"
                "c o"
                "t t";
    row-gap: 30px;
    padding: 5vh;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.container-sobre-img figure{
    width: 30vw;
    height: 20vh;
    
}
.container-sobre-img img{
    max-width: 100%;
    animation: flutuar 1.5s ease-in-out infinite;
}
.titulo{
    display: grid;
    grid-area: s;
    font-size: 30px;
    font-family: 'Playfair Display';
    border-left: solid 5px rgb(156, 53, 74);
    padding: 10px;
}
.sub{
    display: grid;
    grid-area: c;
    font-family: 'Playfair Display';
    color:rgb(156, 53, 74);
}
.sub2{
    display: grid;
    grid-area: o;
    font-family: 'Playfair Display';
    color:rgb(156, 53, 74);
    display:flex;
}

.texto{
    display: grid;
    grid-area: t;
    line-height: 27px;
}
[data-animacao]{
    opacity: 0;
    transition: 1.3s ease-in-out;
}
[data-animacao].animate{
    opacity: 100%;
}
@keyframes flutuar{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}
@media(max-width:1366px){
    .section-sobre{
        height: 650px;
    }
}
@media(max-width:1300px){
    .container-sobre-img figure{
        width: 300px;
        height: 300px;
    }
    .section-sobre{
        height: 930px;
        border-radius: 0;
        margin:0px;
    }
    .container-sobre-img{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .container-sobre{
        row-gap: 10px;
        font-size: 15px !important;
        grid-template-areas: "s s"
                    "c c"
                    "o o"
                    "t t" !important;
        grid-template-rows: 7vh 7vh 7vh !important;
        padding: 0px !important;
        text-align: justify !important;
        padding: 15px !important;
    }
    .container-grid-sobre{
        width: 100% !important;
        grid-template-columns: 100% !important;
    }
}
