
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Kanit&family=Playfair+Display:ital,wght@0,500;1,400&family=Righteous&family=Roboto+Mono&display=swap');
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
}
body{
    font-size: 100%;
    background-color: rgb(7, 6, 14);
    height: 100vh;
}
.cabecalho{
    display:flex;
    align-items: center;
    padding: 20px;
    border-bottom: inset 2px rgb(53, 22, 27);;
    height: 70px;
    position: fixed;
    z-index: 10;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1)
}
.container-menu{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 60% 40%;
}
.logo{
    color: rgb(156, 53, 74);
    font-family: 'Righteous', cursive;
    font-size: 30px;
    width: 50px;
}
.cabecalho nav ul li a:hover{
    color: #9c354a;;
}
.cabecalho nav ul li a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
}
.cabecalho nav ul{
    width: 500px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.container-principal{
    width: 90%;
    margin:auto;
    display:grid;
    grid-template-columns: 100%;
   align-items: center;
}
.apresentacao{
    font-family: 'Kanit', sans-serif;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    align-items: center;
    justify-content: center;
    grid-gap:0px 42px;
}
.apresentacao .container-apresentacao h2{
    color: white;
    font-size: 35px;
}
.name{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 80px;
    color:rgb(156, 53, 74);
    border-right: solid 5px rgb(156, 53, 74);
    white-space: nowrap;
    overflow: hidden;
} 
.apresentacao .container-apresentacao .github, .apresentacao .container-apresentacao .linkedin{
    color:rgb(156, 53, 74);
    border:solid 3px #9c354a;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    margin-top:10vh;
}
.apresentacao .container-apresentacao .github:hover, .apresentacao .container-apresentacao .linkedin:hover{
    color:rgb(196, 77, 101);
    border:solid 3px #c44d65;
    box-shadow: inset 0 0 25px rgb(196, 77, 101), 0 0 25px rgb(196, 77, 101);
    text-shadow: 0px 0px 8px rgba(255,255,255, 0.3), 0 0 29px rgb(196, 77, 101);
    
}
.container-imagem img{
    max-width: 630px;
    
}

.central{
    width: 100%;
    height: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.animacao-pisca{
    animation: pisca 1s steps(12) infinite normal, digitando steps(12) 1.35s 1s normal;
}

@keyframes digitando{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}
@keyframes pisca{
    from{
        border-color: rgb(156, 53, 74);
    }
    to{
        border-color:transparent;
    }
}
@media(max-width:1300px) {
    .container-imagem img{
        max-width: 320px !important;
        margin-top: 50px !important;
    }
    .container-principal{
        width: 100%;
    }
    .container-apresentacao{
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .name{
        font-size: 7vh;
    }
    
    .apresentacao .container-apresentacao h2{
        font-size: 3vh;
    }
    .apresentacao .container-apresentacao .github, .apresentacao .container-apresentacao .linkedin{
        font-size: 10px;
    }
    .central{
        height: 650px;
    }
    .container-sobre{
        font-size: 15px !important;
        grid-template-areas: "s s"
                    "c c"
                    "o o"
                    "t t" !important;
        grid-template-rows: 9vh 9vh 9vh !important;
        padding: 0px !important;
        text-align: justify !important;
        padding: 15px !important;
    }
    .container-grid-sobre{
        width: 100% !important;
        grid-template-columns: 100% !important;
    }
    .cabecalho{
        display: none;
    }
    
   
    
}
@media(max-width:1366px){
    .central{
        height: 650px;
    }
    .section-sobre{
        height: 650px !important;
    }
}