
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
}
body{
    font-size: 100%;
    /*background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);*/
    background-color: rgb(7, 6, 14);
}
.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: inset 2px rgb(53, 22, 27);;
    height: 70px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1)
}
.cabecalho nav ul .inicio,.cabecalho .logo{
    color: rgb(156, 53, 74);
}
.cabecalho a, .cabecalho nav ul li a{
    color:white;
}
.cabecalho nav ul{
    width: 500px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

