body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.container-principal{
    /*background: rgb(28,15,13);
    background: linear-gradient(150deg, rgba(28,15,13,1) 0%, rgba(51,28,23,1) 16%, rgba(73,41,34,1) 30%, rgba(95,53,44,1) 42%, rgba(111,62,52,1) 53%, rgba(136,76,63,1) 63%, rgba(180,99,83,1) 79%, rgba(191,105,88,1) 83%, rgba(248,137,115,1) 98%);*/
    background: rgb(33,33,33);
    background: linear-gradient(150deg, rgba(33,33,33,1) 0%, rgba(48,48,48,1) 100%);        
    width: 100%;
    height: 800px;
    background-size: cover;
    
}
.container-fluid{
    margin: auto;
    width: 80%;
    height: 100%;
    
}
header{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
header .menu a{
    color: white;
    text-decoration: none;
}
header .menu{
    display: grid;
    grid-template-columns: 30% 50%;
    align-items: center;
    height: 70px;
}
header .menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
    color: white;
}
.apresentacao{
    width: 100%;
    height: 800px;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.apresentacao h1{
    height: 150px;
    width: 500px;
}