.container-projetos {
    display: none;
    overflow: hidden;
    flex-direction: column;
    
    row-gap: 10px;
}

.container-grid {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
}

.container-imagem figure {
    width: 100%;
}

.container-imagem figure img {
    width: 100%;
}

.container-projeto{
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
    height: 525px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #312F34;
}

.slide{
    display: none;
}

.container-desc-links {
    width: 100%;
    border-radius: 0px 0px 2px 2px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    transform: translateY(400px);
    transition: all 0.5s linear;
    background-color: #111018c9;
    backdrop-filter: blur(6px);
    padding: 0px 0px 20px 0px;
}

.container-projeto:hover .container-desc-links{
    transform: translateY(0);
}

.tecnologias {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: end;
    padding: 15px 0px 20px 0px;
}

.tecnologias ul {
    display: flex;
    column-gap: 10px;
    width: 230px;
    float: right;
    list-style: none;
    justify-content: end;
    padding-right: 20px;
    font-size: 13px;
}

.tec-html {
    background-color: #DA764B;
}

.tec-css {
    background-color: #6476D6;
}

.tec-js {
    background-color: #ceb24f;
}

.tecnologias ul li {
    display: flex;
    column-gap: 5px;
}

.tec-css,
.tec-js,
.tec-html {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.span {
    width: 0px;
    display: none;

}

.desc {
    height: 120px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.desc p {
    font-size: 14px;
}

.hover {
    width: 27px;
    transition: width 1s linear;
    display: flex;
    align-items: center;
}

.width-css:hover {
    width: 55px;

}

.width-html:hover {
    width: 60px;
}

.width-js:hover {
    width: 40px;
}

.hover:hover .hover-css,
.hover:hover .hover-html,
.hover:hover .hover-js {
    display: block;
}

.nome-projeto {
    color: #9C354A;
}

.container-links {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.container-links .container-play .play {
    padding: 7px 30px;
    height: 40px;
    border: 2px solid #9C354A;
    border-radius: 20px;
    color: #9C354A;
    font-size: 18px;
   
    text-decoration: none;
}

.container-play {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 79px;
}

.container-github {
    display: flex;
    align-items: center;
}

.repo-github {
    height: 40px;
    padding: 7px 10px;
    font-size: 18px;
    border: 2px solid #9C354A;
    text-decoration: none;
    color: #9C354A !important;
    border-radius: 50%;
}

.repo-github:hover , .play:hover{
    border-color: #be4860 !important;
    color: #be4860 !important;
    box-shadow: inset 0 0 6px rgb(196, 77, 101), 0 0 25px rgb(196, 77, 101);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3), 0 0 29px rgb(196, 77, 101);
}

.arrow-left, .arrow-right{
    position: absolute;
    font-size: 50px;
    padding: 0px 32px 0px 32px;
    color: rgba(151, 151, 151, 0.466);
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
}

.arrow-left:hover, .arrow-right:hover{
    color: rgb(151, 151, 151);
}

.arrow-left{
    left: 0;
}
.arrow-right{
    right: 0;
}


.container-projetos header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #312F34;
    column-gap: 5px;
    padding: 5px 5px 0px 5px;
}

.container-projetos header ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    padding: 10px 20px 10px 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.active-menu{
    color: #c18c92;
}

.container-projetos header ul li:hover{
    color: #c18c92;
}
